@import "../variables";
@import "../mixin";

.top-categories {
    padding-top: 70px;

    &__title {
        @include title;
    }

    &__grid {
        @include clearListReset;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 32px;
    }

    &__item {
        border-radius: 10px;
        background-color: $color_grey_light;

        &_1 {
            grid-column: span 6;
        }

        &_2 {
            grid-column: span 6;
        }

        &_3 {
            grid-column: span 4;
        }

        &_4 {
            grid-column: span 4;
        }

        &_5 {
            grid-column: span 4;
        }
    }
}

.category {
    display: inline-flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    padding: 30px;
    padding-right: 0;

    &__list {
        @include clearListReset;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 14px;
    }

    &__item {
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        color: $color-grey;

        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    &__title {
        margin: 0;
        margin-bottom: 30px;
        font-weight: 400;
        font-size: 24px;
        line-height: 33px;
        color: $color_black;
    }

    &__img {
        margin-bottom: 27px;
        margin-left: -30px;
    }

    &__distr {
        flex: 1 1 auto;
    }

    &__link {
        position: relative;
        align-self: flex-start;
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: $color_primary;
        transition: color 0.3s ease-in-out;

        &::after {
            position: absolute;
            content: '';
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            width: 81px;
            border-bottom: 2px solid transparent;
            background-color: transparent;
            transition: background-color 0.3s ease-in-out;
        }

        &:focus {
            &::after {
                border-bottom: 2px solid $color_primary;
            }

            span {
                background-color: $primary_light;

                svg {
                    stroke: $color_white;
                }
            }
        }

        &:hover {
            &::after {
                border-bottom: 2px solid $color_primary;
            }

            span {
                background-color: $color_primary;

                svg {
                    stroke: $color_white;
                }
            }
        }

        &:active {
            color: $primary_shade;

            &::after {
                border-bottom: 2px solid $primary_shade;
            }

            span {
                border-color: $primary_shade;
                background-color: $primary_shade;
            }
        }

        span {
            position: relative;
            display: inline-block;
            margin-left: 5px;
            border: 2px solid $color_primary;
            border-radius: 100px;
            width: 22px;
            height: 22px;
            color: transparent;
            background-color: transparent;
            transition: border-color .3s ease-in-out,
                background-color .3s ease-in-out;

            svg {
                position: absolute;
                top: 50%;
                left: 38%;
                stroke: $color_primary;
                stroke-width: 2;
                transform: translateY(-50%);
                transition: stroke .3s ease-in-out;
            }

            &:visited {
                border-color: $color_grey;
                background-color: $color_grey;
            }
        }
    }
}

@media (max-width: 1280px) {
    .top-categories {
        &__grid {
            grid-template-columns: repeat(9, 1fr);
        }

        &__item {

            &_1 {
                grid-column: span 6;
            }

            &_2 {
                grid-column: 4/7;
                grid-row: 2;
            }

            &_3 {
                grid-column: 7/10;
                grid-row: 1
            }

            &_4 {
                grid-column: span 3;
            }

            &_5 {
                grid-column: span 3;
            }
        }
    }

    .category {
        padding-bottom: 28px;

        &__img {
            margin-bottom: 28px;

            &_2 {
                margin-bottom: 33px;
                padding-top: 6px;
            }

            &_3 {

                padding-top: 7px;
            }

            &_4 {
                margin-bottom: 33px;
                padding-top: 6px;
            }

            &_5 {
                margin-bottom: 33px;
                padding-top: 6px;
            }
        }
    }
}

@media (max-width: 950px) {
    .top-categories {
        &__grid {
            grid-template-columns: repeat(6, 1fr);
            row-gap: 34px;
        }

        &__item {
            &_1 {
                grid-column: span 6;
            }

            &_2 {
                grid-column: 4/7;
                grid-row: 2;
            }

            &_3 {
                grid-column: 1/4;
                grid-row: 2
            }

            &_4 {
                grid-column: span 3;
            }

            &_5 {
                grid-column: span 3;
            }
        }
    }
}

@media (max-width: 640px) {
    .category {
        &__list {
            flex-direction: column;
            align-items: flex-start;

            &_big {
                flex-direction: row;
            }
        }
    }
}

@media (max-width: 500px) {
    .top-categories {
        &__grid {
            column-gap: 16px;
            row-gap: 32px;
        }
    }

    .category {
        padding: 16px 30px 11px 16px;

        &_big {
            padding: 30px 0 13px 30px;
        }

        &__title {
            margin-bottom: 13px;
            font-size: 16px;
            line-height: 17px;

            &_big {
                font-size: 24px;
                line-height: 33px;
            }
        }

        &__title-link {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                right: -28px;
                display: inline-block;
                width: 22px;
                height: 22px;
                border: 2px solid $color_primary;
                border-radius: 100px;
            }

            &::before {
                content: '';
                position: absolute;
                bottom: 8px;
                right: -19px;
                display: inline-block;
                width: 6px;
                height: 6px;
                border-top: 2px solid $color_primary;
                border-right: 2px solid $color_primary;
                transform: rotate(45deg);
            }

            &_big {
                &::after {
                    bottom: 3px;
                    right: -28px;
                }

                &::before {
                    bottom: 11px;
                    right: -19px;
                }
            }
        }

        &__list {
            margin-bottom: 11px;

            &_big {
                margin: 0;
            }
        }

        &__item {
            font-size: 10px;
            line-height: 10px;

            &:not(:last-child) {
                margin-bottom: 4px;
            }

            &_big {
                margin-bottom: 14px;
                font-size: 14px;
                line-height: 14px;

                &:not(:last-child) {
                    margin-right: 20px;
                }
            }
        }

        &__img {
            margin-bottom: 0;
            margin-left: -16px;
            margin-right: -30px;

            &_1 {
                margin-left: -30px;
            }

            &_3 {
                padding-top: 5px;
            }
        }

        &__link {
            display: none;
        }
    }
}